/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  width: 100%;
  height: 100vh;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text), sans-serif;
  font-variation-settings: "wght" var(--variation-settings-normal);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
}
.header {
  padding-top: 100px;
  padding-bottom: 100px;
}
.header-section {
  display: block;
  justify-self: center;
  text-align: center;
  align-content: center;
  width: var(--header-width);
  border: 2px solid var(--black);
  background-color: var(--white);
  padding: var(--padding);
}
.header__title {
  font-family: var(--title), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font-title);
  line-height: 65px;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 20px;
}
.header__subtitle {
  font-family: var(--title), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font-title-second);
  line-height: 23px;
  text-transform: uppercase;
  color: var(--black);
}
.main__block {
  display: grid;
  justify-self: center;
  width: clamp(320px, 100%, 700px);
  border: 2px solid var(--black);
  background-color: var(--white);
  margin-bottom: 50px;
}
.main__title {
  font-family: var(--text), sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  padding: 3px 24px 3px 10px;
  font-variation-settings: "wght" var(--variation-settings-bold);
}
.main__paragraph {
  font-family: var(--text), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  padding: 30px 25px 0 25px;
}
.main__page {
  border: none;
  border-bottom: 1px solid var(--black);
}
.main__button-section {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  gap: 5px;
}
.card__like-button {
  height: 38px;
  width: 130px;
}
.button {
  position: relative;
  box-sizing: border-box;
  background: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--black);
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.button:hover::before {
  transform: translateX(0);
}
.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  height: 38px;
  width: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--black);
  outline: none;
}
.image-container {
  position: relative;
  max-block-size: 696px;
}
.image-container img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: auto;
}
.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--title), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--black);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white),
    0 -1px var(--white);
}
@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .image-label {
    -webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    text-shadow: none;
  }
}
.save-section {
  display: flex;
  justify-self: center;
  padding-bottom: 105px;
}
.save-section-button {
  height: 55px;
  width: 340px;
}
.floppy-svg {
  position: relative;
  z-index: 2;
  filter: invert(1);
  mix-blend-mode: difference;
}
.dialog {
  width: 353px;
  border: 3px solid var(--black);
  translate: 100%;
  padding: 30px 30px;
}
.dialog[open] {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-items: center;
  translate: 0;
}
body:has(.dialog[open]) {
  overflow: hidden;
}
.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
.dialog button {
  grid-area: 2 / 1 / 3 / 3;
}
.dialog-paragraph {
  font-family: var(--title), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--black);
  padding-left: 15px;
}
.dialog-botton {
  height: 38px;
  width: 293px;
  margin-top: 30px;
  text-transform: uppercase;
}
.filter__brightness {
  filter: brightness(60%);
}
.filter__saturate {
  filter: saturate(250%);
}
.filter__blur {
  filter: blur(3px);
}
.filter__sepia {
  filter: sepia(0.3);
}
.filter__opacity {
  filter: opacity(80%);
}
.filter__grayscale {
  filter: grayscale(40%);
}
.filter__contrast {
  filter: contrast(250%);
}
.filter__combo {
  filter: brightness(60%) saturate(250%);
}
.like-icon {
  background-color: transparent;
  height: 36px;
  width: 38px;
}
.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}
.like-icon .contour {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .contour {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon .core {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon:not(:hover) .contour {
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0s;
}
.like-icon:active .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: move_heart 0.3s ease-in;
}
.like-icon.is-liked .sparks {
  animation: move_sparks 0.3s ease-in;
}
.button__text {
  font-family: var(--title), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--white);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}
@media (width <= 375px) {
  .header-section {
    padding: 112px 10px 114px 10px;
  }
  .header__title {
    letter-spacing: -2px;
    padding-bottom: 8px;
  }
  .header__subtitle {
    letter-spacing: -1px;
  }
  .save-section-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 310px;
    height: 84px;
    gap: 10px;
  }
  .floppy-svg {
    height: 28px;
    width: 28px;
  }
}
